<div class="displayer hidden" [@displayerSlider]="isOpen ? 'open' : 'closed'">
  <button aria-label="close sidebar" (click)="toggle()" type="button" class="close-btn">
    X
  </button>
  <section class="map-legend">
      <p class="title">Temperature</p>
      <div class="layers">
          <label class="degree">
            {{temperature}} <span [ngClass]="temperature>0 ? 'hot' : 'cold'">°C</span>
          </label>
      </div>
      <p class="title">Layer Name</p>
      <div class="layers">
          <label>
            {{layerName}}
          </label>
      </div>
  </section>
</div>
