.displayer{
  border: 2px solid blue;
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px;
  z-index: 99999;
  background: #fff;
  
  height: auto;
  box-shadow: 0px 0px 22px -11px rgba(66, 68, 90, 1);
  }
  
  .hidden {
    display: none;
  }

.close-btn {
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: 3px;
    border: none;
    margin: 0;
    z-index: 1;
    background: none;
    color: #c53d2f;
    font-size: 15px;
    font-weight: bold;
}
.map-legend {
    display: block;
    position: relative;
}
.layers{
  display: flex;
  flex-direction: column;
  border: 1px solid #aad3df;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.title{
  font-weight: bold;
  margin-bottom: 0;
  background-color: blue;
  color: #fff;
  text-align: center;
}
.degree{
  text-align: center;
  font-weight: bold;
}
.hot{
  color: red;
}
.cold{
  color: blue;
}
  