<div class="map-container">

    <app-map (config)="setConfiguration($event)" [selectedLayer]="selectedLayer" [addMarker]="addRemoveMarker"
        [baselayer]="baselayer"></app-map>
    <app-controller (selectedLayer)="addSelectedLayer($event)" (addRemoveData)="addRemoveData($event)"
        [layerArray]="layerArray"></app-controller>
    <app-displayer [info]="configuration" (openGraphDisplayer)="setopenGraphDisplayer($event)" (forecastingData)="setForecastingData($event)"></app-displayer>
    <app-legend [selectedLayer]="selectedLayer"></app-legend>
    <app-plot [data]="forecastingData" [graphDisplayer]="graphDisplayer" (closeGraph)="setopenGraphDisplayer($event)"></app-plot>
</div>