.map-container {
    height: calc(100vh - 60px);
    
    margin-top: 60px;
  position: relative;
}
  
.map-frame {
    border: 2px solid black;
    height: 100%;
}
  
#map {
  height: 100%;
}
.map_lengend{
  border: 1px solid black;
  background-color: aliceblue;
  height: auto;
  width: auto;
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 1000;
  padding: 5px;
}