<div class="map-container">
    <div class="map-frame">
        <div id="map"></div>
        <div class="map_lengend hidden">
            <button aria-label="close sidebar" type="button" class="close-button">
              X
            </button>
          
        </div>
        <div class="layer_control">
            <section class="leaflet-control-layers-list">
                <div class="leaflet-control-layers-base">
                    <label>
                        <div>
                            <input type="radio" class="leaflet-control-layers-selector" name="base-layers_717" checked="checked"><span> OpenStreetMap</span>
                        </div>
                    </label>
                    <label>
                        <div>
                            <input type="radio" class="leaflet-control-layers-selector" name="base-layers_717"><span> wms</span>
                        </div>
                    </label>
                    <label>
                        <div>
                            <input type="radio" class="leaflet-control-layers-selector" name="base-layers_717"><span> Floods</span>
                        </div>
                    </label>
                    <label>
                        <div>
                            <input type="radio" class="leaflet-control-layers-selector" name="base-layers_717"><span> predefinito</span>
                        </div>
                    </label>
                    <label>
                        <div>
                            <input type="radio" class="leaflet-control-layers-selector" name="base-layers_717"><span> Carta ecopedologica d'Italia</span>
                        </div>
                    </label>
                </div>
                <div class="leaflet-control-layers-separator"></div>
                <div class="leaflet-control-layers-base">
                    <label>
                        <div>
                            <input type="checkbox" class="leaflet-control-layers-selector" checked=""><span> Paths</span>
                        </div>
                    </label>
                    <label>
                        <div>
                            <input type="checkbox" class="leaflet-control-layers-selector" checked=""><span> USA States</span>
                        </div>
                    </label>
                </div>
            </section>
        </div>

    </div>
</div>
