<div class="layer_control">
    <section class="map-legend">
        <p class="title">Layers</p>
        <div class="layers">
            <label>
                <div>
                    <input type="radio" (click)="setLayer('default')" class="leaflet-control-layers-selector" name="base-layers" checked="checked"><span> OpenStreetMap</span>
                </div>
            </label>
            <span *ngFor="let layer of layerArray;">
                <label>
                    <div>
                        <input type="radio" (click)="setLayer(layer.name)" class="leaflet-control-layers-selector" name="base-layers"><span> {{layer.name}}</span>
                    </div>
                </label>
            </span>
        </div>
        <p class="title">Data</p>
        <div class="pointers">
            <label>
                <div>
                    <input type="checkbox" (click)="showMarkers($event,'pointers')" class="leaflet-control-layers-selector" checked=""><span> Pointers</span>
                </div>
            </label>
            <label>
                <div>
                    <input type="checkbox" (click)="showMarkers($event,'paths')" class="leaflet-control-layers-selector" checked=""><span> Paths</span>
                </div>
            </label>
        </div>
    </section>
</div>